.circle {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 100vmax;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  position: absolute;
  width: 140px;
  height: 140px;
  background: 
    var(--primary-color) url("/images/non-bg-profile.png") no-repeat center center;
  background-size: cover;
  border-radius: 100vmax;
}

.text {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: consolas, monospace;
  color: #000;
  font-size: 17px;
  animation: textRotation 8s linear infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: center center;
  text-align: center;
}

.text span {
  position: absolute;
  top: 0%;
  left: 50%;
  transform-origin: 0 100px;
  transform-box: fill-box;
  white-space: nowrap;
}

@keyframes textRotation {
  to {
    transform: rotate(360deg);
  }
}
